<!DOCTYPE html>
<html>
<head>
  <title>PHONEBOOKS APP</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" >
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript" src="/javascripts/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <div class="text-center">
          <h1>PHONEBOOKS APP</h1>
        </div>
      </div>
      <div class="panel-body">
        <form id="phonebook-form" class="form-horizontal" method="POST">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" placeholder="input the name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="phone" name="phone" placeholder="input the phone number" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">Save</button>
              <button type="reset" class="btn btn-warning">Reset</button>
            </div>
          </div>
        </form>
      </div>

      <!-- Table -->
      <table id="phonebook-table" class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <div id="confirm-delete" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Confirm Delete</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button id="btn-delete" type="button" class="btn btn-primary" data-id="">Yes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
  <script type="text/javascript">
  $(document).ready(function(){
    drawTable();
    add();
    remove();
    confirmDelete();
  })

  function drawTable(){
    $.get( "http://localhost:3001/phonebooks", function(data) {
      let html = "";
      for(let i = 0; i < data.length; i++){
        html += "<tr>"
        html += "<td>" + data[i]._id + "</td>"
        html += "<td>" + data[i].name + "</td>"
        html += "<td>" + data[i].phone + "</td>"
        html += '<td>'
        html += '<button class="btn btn-success btn-edit" type="button" data-id="' + data[i]._id + '">Edit</button>&nbsp;'
        html += '<button class="btn btn-danger btn-delete" type="button" data-id="' + data[i]._id + '">Delete</button>'
        html += '</td>'
        html += "</tr>"
      }
      $("#phonebook-table tbody").html(html);
    });
  }

  function add(){
    $('#phonebook-form').submit(function(e){
      e.preventDefault();
      $.ajax({
        method: "POST",
        url: "http://localhost:3001/phonebooks",
        data: $(this).serialize()
      })
      .done(function(data) {
        drawTable();
      });
      return false;
    });
  }

  function remove(){
    $( "#phonebook-table tbody" ).on( "click", ".btn-delete", function() {
      $("#btn-delete").attr("data-id", $(this).attr("data-id"));
      $('#confirm-delete').modal('show');
    });

    $("#btn-delete").click(function(){
      $.ajax({
        method: "DELETE",
        url: "http://localhost:3001/phonebooks/" + $(this).attr("data-id")
      }).done(function(data) {
        $('#confirm-delete').modal('hide');
        drawTable();
      });
    })
  }

  function confirmDelete(){
    $('#btn-testing').click(function(){

    })
  }
  </script>
</body>
</html>
